#themeButton {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: var(--farba5);
  color: var(--farba1);
  font-size: large;
  font-weight: bold;
}

#themeButton:hover {
  /* opacity: 0.8; */
}
