/* You can add global styles to this file, and also import other style files */
:root {
  --biela: #FBEAEB;
  --biela2: #d6e6f2;
  --modra: #b9d7ea;
  --modrejsia: #769fcd;
  --ciarka: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--biela);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-theme {
  /* background-color: black; */
  /* color: #fff; */

  --biela: #000000;
  --ciarka: #ffffff;
  color: #ffffff;
}
